@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
}

.bg-in-half {
  background: linear-gradient(90deg, black 60%, black 40%);
}

@media (min-width: 768px) {
  nav ul {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  nav ul li {
    margin: 10px 0;
  }
}

nav ul li {
  @apply mx-2;
  text-transform: uppercase;
}

@media (min-width: 640px) {
  .bg-in-half {
    background: linear-gradient(90deg, black 60%, rgb(168, 85, 247) 40%);
  }

  nav ul li {
    @apply mx-5;
  }
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.hero h1,
.hero h2 {
  font-size: 4rem;
  margin: 0;
}
.hero h2 {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  color: black;
}
.hero h3 {
  max-width: 300px;
  margin-top: 3rem;
}
