@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  overflow-x: hidden;
}

.bg-in-half {
  background: linear-gradient(90deg, white 60%, white 40%);
}

@media (min-width: 768px) {
  nav ul {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  nav ul li {
    margin: 10px 0;
  }
}

nav ul li {
  @apply mx-2;
  text-transform: uppercase;
}

@media (min-width: 640px) {
  nav ul li {
    @apply mx-5;
  }
}

@media (min-width: 768px) {
  .bg-in-half {
    background: linear-gradient(90deg, white 60%, black 40%);
  }
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.hero h1,
.hero h2 {
  font-size: 4rem;
  margin: 0;
}
.hero h2 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: white;
}

.hero h3 {
  max-width: 300px;
  margin-top: 3rem;
}

nav .current {
  text-shadow: 0.5px 0.5px 0.5px white;
}
