@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}
#root {
  user-select: none;
}
.hero {
  background-image: url(/hero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
